<% @user ||= current_user %>
<div>
  <a href="<%= followings_user_path(@user) %>">
    <strong id="followings">
      <%= @user.followings.count %>
    </strong>
    <%= I18n.t('followings') %>
  </a><br>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers">
      <%= @user.followers.count %>
    </strong>
    <%= I18n.t('followers') %>
  </a>
</div>
