<h1><%= t('users.views.user_detail') %> (<%= @user.email %>)</h1>
<p><%= User.human_attribute_name(:email) %>: <%= @user.email %></p>
<p><%= User.human_attribute_name(:zipcode) %>: <%= @user.zipcode %></p>
<p><%= User.human_attribute_name(:address) %>: <%= @user.address %></p>
<p><%= User.human_attribute_name(:profile) %>: <%= @user.profile %></p>
<%= link_to t('views.common.users_list'), users_path %>
