<% if reports.any? %>
  <table>
    <thead>
    <tr>
      <th><%= Report.human_attribute_name(:created_at) %></th>
      <th><%= Report.human_attribute_name(:title) %></th>
      <th><%= Report.human_attribute_name(:content) %></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% reports.each do |report| %>
      <tr>
        <td><%= l(report.created_at, format: :long) %>
        <td><%= report.title %></td>
        <td><%= report.content %></td>
        <td><%= link_to t('views.common.show'), report %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p><%= t('views.common.no_data', name: Report.model_name.human) %></p>
<% end %>

